#profile-pic {
    align-content: left;
    position: relative;
    display: block;
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin-bottom: 25px;
}

textarea {
    color: #03a9f4;
}

.calculate {
    margin-top: 15px;
    margin-bottom: 50px;
}

.li:hover {
    background: transparent;
}

.budget-btn {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 25px;
}

h4, h5 {
    text-align: center;
    font-weight: bold;
}

h6 {
    margin-top: 25px;
    text-align: right;
}

.modal-button {
    display: flex;
    align-items: center;
}

.modal-row {
    display: flex;
    align-items: center;
    margin-top: 50px;    
}