#profile-pic {
    align-content: left;
    position: relative;
    display: block;
    border-radius: 50%;
    width: 150px;
    height: auto;
}

.calculate {
    margin-top: 15px;
    margin-bottom: 50px;
}

.li:hover {
    background: transparent;
}

.budget-btn {
    display: inline-flex;
    vertical-align: middle;
}

h4, h5 {
    text-align: center;
    font-weight: bold;
}

h6 {
    text-align: right;
    margin-top: 25px;
}