#profile-pic {
    align-content: left;
    position: relative;
    display: block;
    border-radius: 50%;
    width: 150px;
    height: auto;
}

.calculate {
    margin-top: 15px;
    margin-bottom: 15px;
}

.li:hover {
    background: transparent;
}

h6 {
    font-weight: bold;
}