<<<<<<< HEAD
body {
    background: #212121;
}
=======
>>>>>>> master

body {
    background: #212121;
}

.logo {
    animation-duration: 5s;
}

<<<<<<< HEAD
img {
    width: 100%;
    left: 0;
}
=======
>>>>>>> master
