#show-type, #show-network, #show-website, #show-genre, #show-summary, #show-status {
    margin-top: 10px;
    color: white;
    text-align: left;
}

#show-source {
    text-align: left;
}

#show-image {
    width: 250px;
}

.show-info {
    display: inline-block;
    background-color: none;
    background: transparent;
    color: whitesmoke;
    border: none;
    box-shadow: none;
}

button {
    margin-top: 10px;
}
